.quickListContainer {
    svg {
        max-height: 36px;
        max-width: 36px;
        width: 100%;
        height: 100%;
    }

    p {
        font-size: 11px;
        font-weight: 500;
        color: #000000;
        margin-top: 10px;
    }

    ion-item {
        background-color: #fafafa;
        background-color: #fafafa;
        --ion-background-color: #fafafa;
   
        border-radius: 12px;

        ion-label {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 7px;
           
        }
    }
}

h1,
h2 {
    color: #03234d;
    font-weight: 900;
}

p {
    color: #03234d;
}

.headerMessage {
    white-space: normal;
    h1 {
        font-size: 30px;
    }
    p {
        line-height: 27px;
        font-size: 18px;
    }
}

.tvLabel {
    fill: #03234d;
}

.websiteLabel {
    fill: #03234d;
}

.blogLabel {
    fill: #19b59b;
}

.bookLabel {
    fill: #d3132a;
}
