<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons class="cta">
      <ion-button fill="solid" [routerLink]="['/','upload','Video']">
        <ion-icon name="add"></ion-icon> UPLOAD
      </ion-button>
    </ion-buttons>

    <!-- counters -->
    <ion-buttons slot="primary" class="cta counter">
      <ion-button fill="solid">
        <ion-text>
          Published
        </ion-text>
        <ion-badge>{{published}}</ion-badge>
      </ion-button>
      <ion-button fill="solid">
        <ion-text>
          Pending
        </ion-text>
        <ion-badge>{{pending}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- media list -->
  <div>
    <!-- -->
    <ion-card *ngFor="let video of videoList">
      <!-- CTA-->
      <ion-card-content>
        <ion-card-title> {{video.mediaName}} </ion-card-title>
        <ion-card-subtitle>{{video.mediaAuthor}} </ion-card-subtitle>
      </ion-card-content>
      <ion-buttons>
        <ion-button *ngIf="video.published == false" (click)="onPublish(video.id,video.mediaType)">Publish</ion-button>
        <ion-button class="unpub" *ngIf="video.published == true" (click)="onUnpublish(video.id,video.mediaType)">
          Unpublish</ion-button>
        <ion-button (click)="onDelete(video.id,video.mediaType)">Delete</ion-button>
      </ion-buttons>
    </ion-card>
  </div>
</ion-content>